<footer class="footer-main ">
    <div class="container contact">
        <div class="emailaddress">
            <input type="email" placeholder="Email Address" class="form-control">
            <div class="arrow">
                <i class="fa fa-arrow-circle-right"></i>
            </div>
        </div>
        
        <ul class="sociallist">
            <h6>Liên hệ</h6>    
            <li>
                <div class="social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </li>
            <li>
                <div class="social">
                    <a href="#"><i class="fa fa-google"></i></a>
                </div>
            </li>
            <li>
                <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </li>
        </ul>

    </div>
    <div class="container text-center mt-3">
        <p>&copy <span id = 'year'>
            
        </span> copy right by <a href="#">Khac Canh</a> </p>
    </div>

</footer>